@import "./variables.scss";
@import './normalize.scss';

// class that prevents scroll when burger menu is opened
body.lock {
  overflow-y: hidden;
}

.app {
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}