@import "./variables.scss";
@import './normalize.scss';

// class that prevents scroll when burger menu is opened
body.lock {
  overflow-y: hidden;
}

.app {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0px 30px 30px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}

//class that adds to the header on scroll
.scrolled {
  top: -60%;
  transition: top 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
}

h1 {
  font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: calc(34px + (52 - 34) * ((100vw - 320px) / (1920 - 320)));
}

h3 {
  font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
}

h4 {
  font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1920 - 320)));
}

p,
a,
button {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
}

span {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
}

//doesn't let font sizes grow in more than 1920px screen sizes
@media (min-width: 1920px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 52px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 36px;
  }

  p,
  span,
  button {
    font-size: 30px;
  }
}