@import '../../styles/variables.scss';

.contact {
  padding: 80px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  @media (min-width:768px) {
    gap: 55px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-message,
    &-name,
    &-email {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      textarea {
        outline: none;
        padding: 18px 20px;
        color: $main-white;
        background: $additional-blue;
        font-size: 18px;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      max-width: 150px;
      width: 100%;
      padding: 20px 30px;
      background-color: $main-orange;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      &:hover {
        scale: 1.1;
        background-color: $main-red;
      }
    }
  }
}