@import '../../styles/variables.scss';

.footer {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-top: 1px solid $additional-blue;
  position: relative;

  @media (min-width:1024px) {
    padding-top: 60px;
  }

  button:hover,
  a:hover {
    scale: 1.1;
    opacity: .9;
    color: $main-white;
  }

  &__scroll {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $additional-blue;
    position: absolute;
    height: 45px;
    width: 45px;
    top: -25px;
    left: 40%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation-name: up;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    @media (min-width:1024px) {
      height: 60px;
      width: 60px;
      top: -35px;
    }

    &:hover {
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }

    @keyframes up {
      0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
      }

      50% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
      }

      100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    a {
      font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1920 - 320)));
    }

    a:hover {
      scale: 1.2;
    }
  }

  &__me {
    display: flex;
    align-items: center;
    gap: 15px;

    span {
      color: rgba(159, 159, 159, 0.853);
    }
  }
}