@import '../../styles/variables.scss';

.footer {
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-top: 1px solid $gray;


  a {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1920 - 320)));
  }

  a:hover {
    scale: 1.2;
    opacity: .9;
    color: $main-white;
  }
}